body {
    color: #808080;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    background-color: #000;
    margin: 0px;
    overflow: hidden;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    z-index: 100;
}

a {
    color: #0080ff;
}

b {
    color: lightgreen
}

c {
    color: red
}

d {
    color: yellow
}

e {
    color: orange
}
f {
    color: grey
}
g {
    color:gainsboro
}

#stats {
    position: absolute;
    top: 0;
    left: 0
}

#stats #fps {
    background: transparent !important
}

#stats #fps #fpsText {
    color: #777 !important
}

#stats #fps #fpsGraph {
    display: none
}
.fpsDisplay{
position: absolute;

    position: fixed;
    left: 0;
    bottom: 0;


}
.upperleftcorner {
    width: 15%;
    position: fixed;
    left: 0;
    top: 0;

}
.upperrightcorner{
    width: 50%;
    position: fixed;
    right: 0;
    top: 0;
     text-align: right;
}
.lowerleftcorner {
    width: 15%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.lowerrightcorner {
    width: 15%;
    position: fixed;
    right: 0;
    bottom: 0;
}
.lowerrightcornerList {
    width: 120%;
    height: 20%;
    position: fixed;
    right: 0;
    bottom: 0;
     text-align: right;
}

.lowermid {
    width: 15%;
    position: fixed;
    bottom: 0;

}

.topleftcorner {
    width: 20%;
    text-align: left;
}

.toprightcorner {
    width: 20%;
    text-align: right;
}

.startScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
    display:inline;
}

.startScreenInvisible {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -500;
    display: none;
}


.hidden {
    display: none;
}

.menu {
    height: 70;
    width: 80;
    overflow: hidden;
}

.menu.expanded {
    overflow: visible;
}

.menu .drop-down-handle {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 0.8em;
    color: rgb(102, 255, 102);
}


}

